:root{
    --primary-color:#F7F3EF;
    --secondary-color:#E2CFC4;
    --tertiary-color:#C4B6A6;
    --quaternary-color:#AFA09A;
    --letter-color:#4A4A4A;
    --letter-color-light:#B8B8B8;
    --letter-color-dark:#2A2A2A;
    --font-family: 'JetBrains Mono', monospace;
}

body{
    background-color:var(--primary-color);
    font-family:var(--font-family);
    padding: 1rem 1rem;
}

html{
    scroll-behavior:smooth;
}

