:root{
    --primary-color:#F7F3EF;
    --quaternary-color:#AFA09A;
    --letter-color:#4A4A4A;
    --font-family: 'JetBrains Mono', monospace;
    --HTML-color: #e44d26;
    --CSS-color: #264de4;
}

body{
    background-color:var(--primary-color);
    font-family:var(--font-family);
    padding: 1rem 1rem;
}

html{
    scroll-behavior:smooth;
}

.HTML{
    color:var(--HTML-color);
}

